.wrapper {
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 10px 10px 19px #22222250,
               -10px -10px 19px #efefef10;
}

.itemName {
    margin: 0;
    margin-bottom: 10px;
}

.itemOpener {
    display: block;
    margin-top: 15px;
    width: 100%;
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 200ms ease-in-out;
    box-shadow: 5px 5px 9px #22222250,
               -5px -5px 9px #efefef25;

    &:hover {
        border-radius: 50px;
        color: var(--accent-color);
    }

    &:active {
        color: var(--accent-color);
        box-shadow: 0 0 0 #22222250,
                    0 0 0 #efefef25,
                    5px 5px 9px #22222250 inset,
                   -5px -5px 9px #efefef25 inset;
    }

    &:focus {
        color: var(--accent-color);
        border: 1px solid inset var(--accent-color);
        outline: none;
    }
}

.dialog {
    border: none;
    background-color: var(--active-background);
    color: var(--text-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 19px #22222250 inset,
        -10px -10px 19px #e1e1e110 inset;

    &::backdrop {
        background-color: rgba(var(--background-color), 25);
        backdrop-filter: blur(10000px);
        -webkit-backdrop-filter: blur(10000px);
    }

    form {
        position: relative;
    }
}

.formCloseBtn {
    composes: itemOpener;
}