[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
opencv-python = "*"
pytesseract = "*"
click = "*"
reportlab = "*"

[dev-packages]
yapf = "*"
isort = "*"
mypy = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.6"

[scripts]
exec = "python3 -m lebata"
